.baner_lewy{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 55%;
font-size: 120%;
float: left;
}

.baner_srodek{
    
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 25%;
    float: left;
}

.baner_prawy{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width:20%;
    text-align: right;
    float: left;
}

.blok_glowny{
background-color: snow;
padding:70px ;
}

.stopka_lewa{
    background-color: saddlebrown;
    color: white;
    height: 100px;
width: 55%;
font-size: 120%;
float: left;

}

.stopka_srodek{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width: 25%;
    float: left;

}


.stopka_prawa{
    background-color: saddlebrown;
    color: white;
    height: 100px;
    width:20%;
    text-align: right;
    float: left;
}

.guzik{
    border-style: dashed;
    border-color: saddlebrown;
    border-width: 2px;
    padding: 20px;
float: left;
color:saddlebrown;
background-color: white;

}

.main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}